@tailwind base;
@tailwind components;
@tailwind utilities;


  html {
    scroll-behavior: smooth;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin-slower {
    animation: spin 0s linear infinite;
  }

/* Animación que realiza el blur y el zoom-out inicial */
@keyframes zoomOutBlur {
  from {
    transform: scale(1.2);
    filter: blur(50px);
    opacity: 1;
  }
  to {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}

/* Animación que alterna el zoom entre el 100% y el 110% */
@keyframes zoomPan {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

/* Aplica primero zoomOutBlur (ahora 0.3s) y luego el efecto alterno zoomPan */
.animate-bg {
  animation: 
    zoomOutBlur 0.4s ease-out forwards,
    zoomPan 20s ease-in-out infinite alternate 0.7s;
}

@keyframes blurIn {
  from {
    filter: blur(40px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}

.animate-blur {
  animation: blurIn 0.7s ease-out forwards;
}

@keyframes fadeInFromDark {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 0.7;
    transform: scale(1);
  }
}

@keyframes continuousZoomPan {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/* La animación se divide en dos fases:
   1. fadeInFromDark: Aparece desde oscuro en 2s.
   2. continuousZoomPan: Movimiento continuo (con delay de 2s para que inicie tras la fase 1).
*/
.animate-fadeIn {
  animation: 
    fadeInFromDark 2s ease-out forwards,
    continuousZoomPan 20s ease-in-out infinite 2s;
}

.portadakoe {
  width: 350px;
  height: 650px;
}